.header-container {
  position: relative;
  text-align: center;
  // color: $berbel;
  color: $darkgrey;
}

.header-h1{
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-h4{
  font-family: Roboto;
  font-weight: lighter;
  text-align: center;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-h3{
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
  color: $dark;
  padding-top: 20px;
}

.cards {
  flex-grow: 1;
  display: grid;
  padding-left: 0;
  grid-template-columns: 1fr 1fr;
}

.card {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 30rem;
  border-radius: 10px;
  margin: 15px 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.search-bar {
  display: flex;
  width: 300px;
  justify-content: space-between;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-button {
 background-color: $iris;
  color:white;
  padding: 6px 20px;
  border-radius: 10px;
  border:0;
  margin-left: 10px;
}