.show-header {
  padding-top: 50px;
  padding-left: 35px;
}

.show-header-h1 {
  font-family: Roboto;
  font-weight: bold;
  color: $dark;
}

#show-container {
  margin: auto;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 40px;
}

.map-box {
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.show-profile {
  padding-left: 40px;
  padding-bottom: 50px;
}

.show-img {
  // object-fit: contain;
  padding-left: 0;
  border-radius: 10px;
}

.gender {
  font-size: 15px;
}

.create-booking {
  text-align: center;
  margin-top: 30px;
}