.show-header {
  padding-top: 90px;
}

.show-header-h1 {
  font-family: Roboto;
  font-weight: bold;
  color: $dark;
}

#show-container {
  margin: 0 0;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 40px;
}

.show-profile {
  padding-left: 40px;
  padding-bottom: 50px;
}

.show-img {
  padding-left: 0;
  border-radius: 10px;
}
