.show-booking-header {
  display: flex;
  flex-direction: column;
}

.bookings-header-h1{
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.bookings-header-h5{
  font-family: Roboto;
  font-weight: lighter;
  text-align: center;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $iris;
}

.list-styling {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline;
  color: $iris;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 10px;
}

#btn-back {
  display: flex;
  align-items: center;
  width: 300px;
  position: absolute;
  top: 85%;
  left: 38%;
  text-align: center;
  margin-left: 0;
}
