
<div class="header-container">
  <div class="banner">
    <%= image_tag 'jumbotron.jpeg', class: 'img-banner' %>
  </div>
  <div class="header-text">
    <h1 class="header-h1">Did you ever take a sheep on a stroll through Görlitzer Park?</h1>
    <h4 class="header-h4">Rent a farm animal and create a unqiue, cuddly experience</h4>
  </div>
</div>

<h2 class="home-h3">These animals are cute, available and near you</h2>
<div class="container">
      <ul class = cards>
      <% @animals.each do |animal| %>
      <li class="card" style="background-image: url(<%= cl_image_path animal.photos.first.key %>)"><%= link_to animal.name, animal_path(animal) %></li>
      <% end %>
      </ul>
</div>

