.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 35px;
  border-radius: 10%;
}

.nav-link {
  color: #5D5FEF !important;
  font-weight: lighter;
  font-size: 1.2rem;
}

.z-index {
  z-index: 3;
}

.dropdown-toggle {
  opacity: 50%;
}