.navbar-lewagon {
  justify-content: space-between;
  background: #C4C4C4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 35px;
  border-radius: 10%;
}

.nav-link {
  color: #5D5FEF !important;
  font-weight: bolder;
  font-size: 1.2rem;
}
